<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>web app</title>
  <script src="https://gw.alipayobjects.com/os/rmsportal/uDTmsEBmTUVrpmCBozbm.js" charset="utf-8"></script>
  <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
  <div id="root">
    加载中,请稍后
  </div>
  <script src="//at.alicdn.com/t/font_388020_bnotn74dmcsrlik9.js" charset="utf-8"></script>
</body>

</html>
